<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Seminarraeume</title>
</head>

<body>
<h2>Seminarraeume</h2>

<h3>New</h3>
<div>
    <form th:action="@{'/ui/seminarraeume'}"
          th:object="${seminarTemplate}"
          method="POST"
          enctype="multipart/form-data"
          action="#">
        <div>
            <label>name</label>
            <input id="Name" type="text" th:field="*{name}"
                   placeholder="Enter Name"/>
        </div>
        <div>
            <label>Kapazität</label>
            <input id="Kapazität" type="number" th:field="*{kapazitaet}"/>
        </div>
        <!-- TODO: fehlende Attribute ergänzen -->
        <div>
            <label>Flaeche</label>
            <input id="Flaeche" type="long" th:field="*{flaeche}"/>
        </div>
        <div>
            <label>Hoehe</label>
            <input id="hoehe" type="long" th:field="*{hoehe}"/>
        </div>

        <input type="submit" width="60" class="btn" value="save"/>
    </form>
</div>

<h3>List</h3>

<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Kapazität</td>
        <td>Höhe</td>
        <td>Fläche</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="s: ${seminarraeume}" th:value="${s}">
        <td>
            <span th:text="${s.id}"></span>
        </td>
        <td>
            <a th:href="@{'/ui/seminarraeume/' + ${s.id}}">
                <span th:text="${s.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="${s.kapazitaet}"></span>
        </td>
        <td>
            <span th:text="${s.hoehe}"></span>
        </td>
        <td>
            <span th:text="${s.flaeche}"></span>
        </td>
        </a>
    </tr>
    </tbody>
</table>
</body>