<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Studierenden</title>
</head>

<body>
<h2>Studierenden</h2>

<h3>New</h3>
<div>
    <form th:action="@{'/ui/studierenden'}"
          th:object="${studierendeTemplate}"
          method="POST"
          enctype="multipart/form-data"
          action="#">
        <div>
            <label>Matr_nr</label>
            <input id="Matr_nr" type="long" th:field="*{Matr_nr}"/>
        </div>
        <div>
            <label>Name</label>
            <input id="Name" type="text" th:field="*{name}"
                   placeholder="Enter Name"/>
        </div>
        <div>
            <label>Vorname</label>
            <input id="Vorname" type="text" th:field="*{name}"
                   placeholder="Enter Vorname"/>
        </div>
        <div>
            <label>Geburtsdatum</label>
            <input id="Geburtsdatum" type="text" th:field="*{geburtsdatum}"
                   placeholder="Enter Geb_datum"/>
        </div>
        <div>
            <label>Geburtsort</label>
            <input id="Geburtsort" type="text" th:field="*{geburtsort}"
                   placeholder="Enter Geburtsort"/>
        </div>
        <div>
            <label>Anzahl_semester</label>
            <input id="Anzahl_semester" type="int" th:field="*{anzahl_semester}"/>
        </div>
        <div>
            <label>Studienbeginn</label>
            <input id="Studienbeginn" type="text" th:field="*{studienbeginn}"
                   placeholder="Enter Studienbeginn"/>
        </div>

        <input type="submit" width="60" class="btn" value="save"/>
    </form>
</div>

<h3>List</h3>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Vorname</td>
        <td>Geburtsdatum</td>
        <td>Geburtsort</td>
        <td>Anzahl_Semester</td>
        <td>Studienbeginn</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c: ${studierenden}" th:value="${c}">
        <td>
            <span th:text="${c.id}"></span>
        </td>
        <td>
            <a th:href="@{'/ui/studierenden/' + ${c.id}}">
                <span th:text="${c.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="${c.vorname}"></span>
        </td>
        <td>
            <span th:text="${c.geburtsdatum}"></span>
        </td>
        <td>
            <span th:text="${c.geburtsort}"></span>
        </td>
        <td>
            <span th:text="${c.anzahl_semester}"></span>
        </td>
        <td>
            <span th:text="${c.studienbeginn}"></span>
        </td>
        </a>
    </tr>
    </tbody>
</table>
</body>